<div class="row">
	<div class="col-md-12">
		<form class="form-inline pull-left" role="form">
			<div class="form-group">
				<label class="sr-only" for="search-input">Search</label>
				<input type="text" class="form-control" id="search-input" ng-model="query">
				<button type="submit" class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</form>
		<div class="hits-counter pull-left" ng-if="numFound != undefined" style="margin-top: 14px;">Showing {{numShown}} of {{numFound}} documents</div>
	</div>
</div>