<div class="row">
    <div class="col-md-12">
        <form class="form-inline pull-left" role="form">
            <div class="form-group">
                <label>Positive example</label>
                <textarea class="form-control" id="pos-input"rows=6; ng-model="posQuery">
                </textarea>

            <button type="submit" class="btn btn-primary" ng-click="extract()"><span class="glyphicon glyphicon-search"></span></button>
                <button type="reset" class="btn btn-danger" ng-click="posClear()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          <br/>
          <label>Phrases from positive example</label>
          <div id="keyphrase-result"></div>
        </form>

    

        <form class="form-inline pull-left" role="form">
             <div class="form-group">

             <label>Negative example</label>
                <textarea class="form-control" id="neg-input"rows=6; ng-model="negQuery">
                </textarea>

            <button type="submit" class="btn btn-primary" ng-click="extractNeg()"><span class="glyphicon glyphicon-search"></span></button>
                <button type="reset" class="btn btn-danger" ng-click="negClear()"><span class="glyphicon glyphicon-remove"></span></button>
                
            </div>
            <br/>
            <label>Phrases from negative example</label>
             <div id="neg-keyphrase-result"></div>
        </form>
        <div class="hits-counter pull-left" ng-if="numFound != undefined" style="margin-top: 14px;">Showing {{numShown}} of {{numFound}} documents</div>
    </div>
</div>